body{
    margin:0;
    font-family:Arial;
    background:#f5f5f5;
}

header{
    background:#0054A6;
    color:white;
    text-align:center;
    padding:20px;
}

.container{
    padding:15px;
}

.card{
    background:white;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.platz,
.kabine{
    padding:10px;
    margin:5px 0;
    border-radius:5px;
}

.frei{
    background:#C8F7C5;
}

.belegt{
    background:#FFE082;
}

.gesperrt{
    background:#FFCDD2;
}
input,
select,
button{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    box-sizing:border-box;
}

button{
    background:#0054A6;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#003f7f;
}

.eintrag{
    padding:10px;
    margin-bottom:8px;
    background:#f1f1f1;
    border-radius:5px;
}
.eintrag{
    border-left:5px solid #0054A6;
}
